body{
    background: url(https://images.all-free-download.com/images/graphicthumb/rippled_wall_background_01_hd_pictures_169887.jpg);
    no-repeat center center fixed;
    background-size: cover;
}
.video1{
   padding: 2rem;
   margin: 20px;
}
.video2{
    padding: 2rem;
    margin: 20px;
 }
 .video3{
    padding: 2rem;
    margin: 20px;
 }
 h1{
    color: ivory;
    font-style: italic;
    background: rgb(252, 71, 0);
    width: 45%;
 }
 button{
    margin-left: 40rem;
    margin-bottom: 5rem;
    padding: 15px;
    border-radius: 0.5rem;
    background-color: rgb(227, 252, 5);
    font-weight: bolder;
 }
button:hover{
   background-color: #fff;
}
button a{
   text-decoration: none;
}